/* Zapewnienie, że kontener zajmuje całą wysokość widoku */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Wyśrodkowanie zdjęcia na stronie */
body {
    background: red;
    display: flex;
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
    height: 100vh; /* Wysokość widoku */
    background-color: #000; /* Opcjonalnie, dla lepszego kontrastu */
}

/* Stylizacja zdjęcia */
