/* Zapewnienie, że kontener zajmuje całą wysokość widoku */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* Wyśrodkowanie zdjęcia na stronie */
body {
    display: flex;
    justify-content: center; /* Wyśrodkowanie w poziomie */
    align-items: center; /* Wyśrodkowanie w pionie */
    height: 100vh; /* Wysokość widoku */
    background-color: #000; /* Opcjonalnie, dla lepszego kontrastu */
}

/* Stylizacja zdjęcia */
#photo {
    position: absolute; /* Ustawienie zdjęcia jako absolutnego, aby wypełniło kontener */
    top: 0;
    left: 0;
    width: 100vw; /* Szerokość na 100% widoku */
    height: 100vh; /* Wysokość na 100% widoku */
    object-fit: cover; /* Powiększa zdjęcie, aby wypełniło kontener bez zmiany proporcji */
}